RewriteEngine On
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteRule ^habbo-imaging/avatarimage$ habbo-imaging/avatarimage.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteCond %{REQUEST_URI}  !(library) [NC]
RewriteRule ^(.*)$ index.php?$1 [L,QSA]